* { 
    margin: 0;
    padding: 0;
}

.event {
    background-color: rgb(190, 190, 221);
    border-bottom: 1px solid black;
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event p {
    margin: .3rem;
}